In [ ]:
print("""
@File         : preview.ipynb
@Author(s)    : Stephen CUI
@LastEditor(s): Stephen CUI
@CreatedTime  : 2024-01-30 22:06:38
@Email        : cuixuanstephen@gmail.com
@Description  : 
""")

In [33]:
import pandas_datareader as web
import pandas as pd

In [36]:
start_date = "2020-01-01"
end_date = "2020-03-18"

# data = web.data.DataReader("d:601318.cn", "stooq", start_date, end_date)
# data = web.data.DataReader("AAPL", "yahoo", start_date, end_date)
data = pd.read_csv('../data/601318_cn_d.csv', parse_dates=True, index_col=['Date'])
data = data.loc[start_date:end_date]

In [37]:
data.head()

                 Open       High        Low      Close      Volume
Date
2020-01-02  82.020722  82.870530  82.001626  82.230787  77825210.0
2020-01-03  82.889626  82.956465  82.020722  82.307174  59498000.0
2020-01-06  82.039819  82.946917  81.638787  81.734270  63644800.0
2020-01-07  82.125755  82.555433  81.801109  82.259432  45218830.0
2020-01-08  82.097110  82.097110  80.683947  81.161367  62805310.0

In [38]:
data['diff'] = data['Close'].diff()
data.head()

                 Open       High        Low      Close      Volume      diff
Date
2020-01-02  82.020722  82.870530  82.001626  82.230787  77825210.0       NaN
2020-01-03  82.889626  82.956465  82.020722  82.307174  59498000.0  0.076387
2020-01-06  82.039819  82.946917  81.638787  81.734270  63644800.0 -0.572904
2020-01-07  82.125755  82.555433  81.801109  82.259432  45218830.0  0.525162
2020-01-08  82.097110  82.097110  80.683947  81.161367  62805310.0 -1.098065

In [29]:
import numpy as np

In [30]:
data['signal'] = np.where(data['diff'] > 0, 1, 0)
data.head()

               Open     High      Low    Close        Volume    diff  signal
Date
2020-03-18  58.8625  61.3758  58.2114  60.5572  3.057361e+08     NaN       0
2020-03-17  60.7637  63.2441  58.5285  62.0796  3.299949e+08  1.5224       1
2020-03-16  59.3999  63.6040  58.9203  59.4637  3.283326e+08 -2.6159       0
2020-03-13  65.0286  68.7194  62.1016  68.2419  3.775266e+08  8.7782       1
2020-03-12  62.8334  66.2858  60.8833  60.9411  4.261435e+08 -7.3008       0